.header {
    background: #252525;
    font-size: 30px;
    margin:0;
    padding-bottom: -100px;
}

a {
    text-decoration: none;
    position: relative;
    color: #e8e8e8;
    left: 6px;
}

a:hover {
    color: grey;
}

h1 {
    position: relative;
    text-align: center;
    bottom: 40px;
}

div.container {
    width:100%;
    height:500px;
    text-align: center;
}

div.game-container {
    display: inline-block;
    width: 740px;
}

body {
    background: #1a1a1a;
    color: #e8e8e8;
}

#gameCanvas {
    position: relative;
    bottom: 12px;
}

div.border-container {
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    border: solid 0px red;
    top: 180px;
}

#start-button {
    position:relative;
    background: url("../img/playPause.PNG") right center;
    background-size: 35px 35px;
    height:40px;
    width:40px;
}

.width-container {
    display: inline-block;
    position:relative;
    width:700px;
}

.editor-container {
    display:inline-block;
    position:relative;
    height: 440px;
    width: 700px;
    top:35px;
    text-align: center;
}

#editor, #output {
    border: #555555 solid 1px;
}

#output {
    display:inline-block;
    position:relative;
    height:250px;
    width:700px;
}

#editor, #run-button {
    top: 1px;
}

#keyCodeSens {
    position:relative;
    width: fit-content;
    border: solid 1px #555555;
    text-align: left;
    bottom: 50px;
}

#editor {
    display:inline-block;
    position:relative;
    height: 150px;
    width:660px;
    right: 19px;
}

#run-button {
    background: url("../img/run.png") right center;
    background-size: 40px 40px;
    display:inline-block;
    position:relative;
    height:40px;
    width:40px;

    top: -151px;
    left: 333px;
}

#run-button:hover {
    background-color: #252525;
}
